.footer {
    background: #27BDBE;
    margin: 0 -100px;
  }

  .footer__down-line{
    background: #FFF;
    margin: 56px 100px 0px;
  }

  .footer__info
  {
    margin: 0 100px 100px;
    display: flex;
    justify-content: center;
    margin-bottom: 105px;  }
   
  
  .footer__info_logo > img {
    width: 280px;
    height: 89px;
    margin-top: 28px;
    margin-right: 112px;
  }

 .footer__info__link__social{
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    margin: 24px 0 0 101px;
  }
 .footer__info__link_video{
    margin-top: 9px;
 }

 .footer__info__nav__first > ul{
    padding: 0;
    margin: 0;
    margin-top: 40px;
    margin-right: 94px;
 }

 .footer__info__nav__first > ul > li {
    list-style: none;
    margin-bottom: 16px;
  }

  .footer__info__nav__first > ul li:last-child {
    margin-top: 48px;
 }

  .footer__info__nav__first > ul > li > a {
    text-decoration: none;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
  }


 .footer__info__nav__second > ul{
    padding: 0;
    margin: 0;
    margin-top: 40px;
    margin-right: 176px;
 }

  .footer__info__nav__second > ul > li{
    list-style: none;
    margin-bottom: 16px;
  }

  .footer__info__nav__second > ul > li > a {
    text-decoration: none;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
  }

  .footer__info__communication {
    margin-top: 33px;
  }

  .footer__info__communication__contact{
    color: #FFF;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 600;
  }
  
 .footer__info__communication__messengers{
    margin-top: 16px;
    display: flex;
    gap: 16px;
  }
  .footer__info__communication__call{
    margin-top: 33px;
    display: flex;
    padding: 16px 50px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 30px;
    background: linear-gradient(93deg, #FFF 9.09%, rgba(255, 255, 255, 0.69) 92.77%);
    box-shadow: 0px 10px 10px 0px rgba(55, 113, 151, 0.15);
  }

  .footer__info__communication__call > a {
    text-decoration: none;
    color: #3CADAB;
    font-size: 16px;
    font-weight: 600;
}

  