.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
  }
  
  .header__logo {
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .header__logo > img {
    width: 221px;
    height: 71px;
  }
  
  .header nav > ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .header nav > ul > li {
    list-style: none;
    margin-left: 32px;
  }
  .header nav > ul > li > a {
    display: flex;
    padding: 10px;
    text-decoration: none;
    color: #404040; 
    font-size: 14px;
    font-weight: 500;
  }
  .header nav > ul > :last-child > a{
    margin-left: -20px;
    color: #FFFFFF;
    background: #27C1C2;
    border-radius: 20px;   
    display: inline-flex;
    padding: 4px 8px 4px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }
  .header nav > ul > li:nth-last-child(2) > a {
    display: inline-flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;  
    border-radius: 30px;
    border: 1px solid var(--text, #404040);
  }
  
