.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
  }
  .burger-btn{
    display: none;
  }
  .header__logo {
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .header__logo > img {
    width: 221px;
    height: 71px;
  }
  
  .header nav > ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .header nav > ul > li {
    list-style: none;
    margin-left: 32px;
  }
  .header nav > ul > li > a {
    display: flex;
    text-decoration: none;
    color: #404040; 
    font-size: 14px;
    font-weight: 500;
  }
  .header nav > ul > :last-child > a{
    margin-left: -20px;
    color: #FFFFFF;
    background: #27C1C2;
    border-radius: 20px;   
    display: inline-flex;
    padding: 4px 8px 4px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }
  .header nav > ul > li:nth-last-child(2) > a {
    display: inline-flex;
    padding: 8px 24px;
    margin-left: -8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;  
    border-radius: 30px;
    border: 1px solid var(--text, #404040);
    font-size: 16px;
    font-weight: 600;
  }
  .up-line{
    fill: var(--text, #404040);
    stroke-width: 1px;
    stroke: var(--text, #404040);
  }
  @media screen and (max-width: 1440px) {
    .burger-btn{
      display: block;
      border-color: black;
      padding: 5px 10px;
      background: none;
      border-radius: 50%;
      position: absolute;
      right: 40px;
      top: 40px;
      z-index: 15;
      cursor: pointer;
    }
    .header nav > ul{
       display: none;
    }
    .menu__active{
      position: absolute;
      width: 100%;
      height: 100%;
      flex-direction: column;
    }
    .menu__active{
      z-index: 10;
      display: flex !important;
      position: absolute;
      width: 95%;
      height: 80%;
      top: 0;
      left: 20px;
      background-color: #B1E7E8;
      display: flex;
      justify-content: center;
      border-radius: 20px;
    }
    .header nav > ul > li{
      margin: 20px 0;
    }
    .header nav > ul > li:nth-last-child(2) > a{
      border-radius: 30px;
      background: linear-gradient(92deg, #6DDBD9 0.82%, #38C3C0 99.57%);
      border: none;
      color: white;
    }
    .burger-btn.active .bar:nth-child(2) {
      opacity: 0;
  }
  
  .burger-btn.active .bar:nth-child(1) {
      transform: rotate(45deg) translate(4px, 5px);
  }
  
  .burger-btn.active .bar:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -6px);
  }
  .burger-btn.active{
    border: none;
  }
  .bar {
    width: 20px;
    height: 2px;
    border-radius: 15%;
    background-color: black;
    margin: 5px 0;
    transition: 0.4s;
  }
  .header nav > ul > :last-child > a {
    position: absolute;
    top: 40px;
    left: 30px;
  }
  }