.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
  }
  
  .header__logo {
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .header__logo > img {
    width: 221px;
    height: 71px;
  }
  
  .header nav > ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .header nav > ul > li {
    list-style: none;
    margin-left: 32px;
  }
  
  .header nav > ul > :last-child > a{
      color: #FFFFFF;
      padding: 19px 39px !important;
      background: #27C1C2;
      border-radius: 200px;
  }
  .header nav > ul > li > a {
    padding: 10px;
    text-decoration: none;
    color: var(--text, #404040);
    font-family: Manrope;
    font-size: 14px;
    font-weight: 500;
  }
  
  .header nav > ul > li > a:hover {
    color: #d56363 !important;
  }